*{
    padding: 0;
    margin: 0;
}
nav{
    margin: 1% ;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
}

p{
    margin-bottom: 0;
}
.card{
    border: none;
    border-radius: 10px;
    margin: 5% 0;
}
.card-body{
    display: flex;
    /* justify-content: space-between; */
}


.card .h5{
    margin-bottom: 0;
   
}
.icon{
    height: 50px;
    width: 50px;
    background: linear-gradient(310deg, #7928ca, #ff0080);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.menu{
    align-items: center;
}
.menu i{
    padding: 0 5px 0 15px;
}


#graph .icon{
    height: 30px;
    width: 30px;
    background: linear-gradient(310deg, #7928ca, #ff0080);
    border-radius: 10px;
    padding: 2%;
    
}
#graph .icon2{
    height: 30px;
    width: 30px;
    background: linear-gradient(310deg, #2152ff, #21d4fd);
    border-radius: 10px;
}
#graph .icon3{
    height: 30px;
    width: 30px;
    background: linear-gradient(310deg, #f53939, #fbcf33);
    border-radius: 10px;
}
#graph .icon4{
    height: 30px;
    width: 30px;
    background: linear-gradient(310deg, #ea0606, #ff667c);
    border-radius: 10px;
}
#graph i{
    font-size: 15px;
    color: white;
}
#graph span{
    margin: 0 5px;
}
.progress{
    height: 10px;
    width:80px;
}
